#content
  %h2.page-title
    = page_title! I18n.t('fondos.index')

  - if current_admin
    .admin-crud.admin-head
      = link_to I18n.t('fondo.new'), new_fondo_seccion_path, :class => 'btn create'

  %ul.content.fondos-list
    - @fondo_secciones.each do |fondo_seccion|
      %li
        .page-name
          = link_to fondo_seccion.title, fondo_seccion_path(fondo_seccion)
          
          .admin-crud.admin-iterate
            = link_to I18n.t('wallpaper.new'), new_fondo_seccion_background_path(fondo_seccion)
            - if current_admin
              = link_to I18n.t('edit'), edit_fondo_seccion_path(fondo_seccion)
              = link_to I18n.t('destroy'), fondo_seccion, :confirm => 'Are you sure?', :method => :delete
        -# unless fondo_seccion.backgrounds.empty?
          = link_to image_tag(fondo_seccion.backgrounds.first.background_picture(:index)), fondo_seccion_path(fondo_seccion)
        - fondo_seccion.backgrounds.each do |bg|
          .picture-holder
            = image_tag bg.background_picture(:index)
            .admin-crud.admin-iterate
              = link_to I18n.t('edit'), edit_fondo_seccion_background_path(bg.fondo_seccion, bg)
              = link_to I18n.t('destroy'), fondo_seccion_background_path(bg.fondo_seccion, bg)

