= form_for @information do |f|
  -if @information.errors.any?
    #error_explanation
      %h2= "#{pluralize(@information.errors.count, "error")} prohibited this information from being saved:"
      %ul
        - @information.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :biografia
    = f.text_area :biografia
  .field
    = f.label :telefono
    = f.text_field :telefono
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :facebook
    = f.text_field :facebook
  .field
    = f.label :twitter
    = f.text_field :twitter
  .actions
    = f.submit 'Save'
