#content
  %h2.page-title
    = page_title! I18n.t('information.index')

.content
  - @information.each do |information|

    = information.telefono
    = information.email
    = information.facebook
    = information.twitter
    = link_to 'Show', information
    = link_to 'Edit', edit_information_path(information)
    = link_to 'Destroy', information, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Information', new_information_path
