%h1 Listing information

%table
  %tr
    %th Biografia
    %th Telefono
    %th Email
    %th Facebook
    %th Twitter
    %th
    %th
    %th

  - @information.each do |information|
    %tr
      %td= information.biografia
      %td= information.telefono
      %td= information.email
      %td= information.facebook
      %td= information.twitter
      %td= link_to 'Show', information
      %td= link_to 'Edit', edit_information_path(information)
      %td= link_to 'Destroy', information, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Information', new_information_path
