

#content
  %h2.page-title
    = page_title! I18n.t('videos.index')
  #inner-top
    .admin-crud.admin-head
      = link_to 'Agregar Video', new_video_path, :class => 'btn create'

  .content.gallery
    %ul
      - @videos.each do |video|
        %li
          = video.link_html
          .admin-crud.admin-iterate
            = link_to I18n.t('edit'), edit_video_path(video)
            = link_to I18n.t('destroy'), video, :confirm => 'Are you sure?', :method => :delete



    = will_paginate @videos
