#content
  %h2.page-title
    Tu cuenta 

  .content
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      %legend ¿Olvidaste tu contraseña?
      = devise_error_messages!
      .field
        = f.label :email
        = f.email_field :email
      .actions= f.submit "Send me reset password instructions"
      = render :partial => "devise/shared/links"
