
= link_to 'Subir foto', new_album_foto_path(@album)
%p#notice= notice

%p
  %b Nombre:
  = @album.nombre

  %br
  - @fotos.each do |foto|
    = foto.titulo


= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albumes_path
