- content_for :javascript do
  = stylesheet_link_tag '/javascripts/libs/flare/jquery.pixelentity.flare.min.css'
  = javascript_include_tag '/javascripts/libs/flare/jquery.pixelentity.flare.min.js'
  :javascript
    jQuery(function($){
      $('a[data-target="flare"]').peFlareLightbox();
    });

#content
  %h2.page-title
    = page_title! @album.nombre

  - if current_cliente
    %h3.user-title
      = current_cliente.nombre
  #inner-top
    = link_to I18n.t('album.back'), albumes_path, :class => 'btn back'
    .admin-crud.admin-head
      = link_to I18n.t('foto.new'), new_album_foto_path(@album), :class => 'btn create'

  #carousel1.content.gallery
    %ul
      - @fotos.each do |foto|
        %li
          = flare_lightbox(foto.foto_picture(:index), foto.foto_picture(:show), foto.foto_picture(:index))
          .admin-crud.admin-iterate
            = link_to 'Edit', edit_album_foto_path(@album,foto)
            = link_to 'Destroy', album_foto_path(@album, foto), :confirm => 'Are you sure?', :method => :delete
    = will_paginate @fotos 

- wallpaper('Portafolio Interna')

-#
  ojo, al intentar borrar el country_picture, me arrojaba un error:
  ActionController::InvalidAuthenticityToken

  Links de soluciones:
  http://stackoverflow.com/questions/3364492/actioncontrollerinvalidauthenticitytoken
  http://stackoverflow.com/questions/4678095/getting-rid-of-actioncontrollerinvalidauthenticitytoken-rails-3-webrick-dev

  Se empleó el segundo, que dice que en el config/environments/development.rb hay que agregar esta línea:
  config.action_controller.allow_forgery_protection = false


















