- content_for :javascript do
  = stylesheet_link_tag '/javascripts/libs/flare/jquery.pixelentity.flare.min.css'
  = javascript_include_tag '/javascripts/libs/flare/jquery.pixelentity.flare.min.js'
  :javascript
    jQuery(function($){
      $('a[data-target="flare"]').peFlareLightbox();
    });

#content
  %h2.page-title
    = @album.nombre

  - if current_cliente
    %h3.user-title
      = current_cliente.nombre
  #inner-top
    = link_to I18n.t('album.back'), albumes_path, :class => 'btn back'
    
  
    .admin-crud.admin-head
      = link_to 'Subir Foto', new_album_foto_path(@album), :class => 'btn create'

  #carousel1.content.gallery
    %ul
      - @fotos.each do |foto|
        %li
          = flare_lightbox(foto.foto_picture(:index), foto.foto_picture(:show), foto.foto_picture(:index))
    = will_paginate @fotos 


















