





#content
  %h2.page-title
    Retratos

  
  = link_to 'Subir foto', new_album_foto_path(@album)

  #carousel.content.gallery
    %ul
      - @fotos.each do |foto|
        %li
          = link_to image_tag(foto.foto_picture(:index)), foto.foto_picture(:show), :class => 'lightbox', :rel => 'gallery'
     






















%p
  %b Nombre:
  = @album.nombre

  %br
  
    %br


  %div
    - if @album.cliente
      = @album.cliente.nombre

  %div
    



= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albumes_path
