#content
  %h2.page-title
    Tu cuenta

  .content
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|

      %legend Resend confirmation instructions
      = devise_error_messages!
      .field
        = f.label :email
        = f.email_field :email
      .actions= f.submit "Resend confirmation instructions"
    = render :partial => "devise/shared/links"
