-if @foto.errors.any?
  #error_explanation
    %h2= "#{pluralize(@foto.errors.count, "error")} prohibited this foto from being saved:"
    %ul
      - @foto.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :titulo, I18n.t('foto.titulo')
  = f.text_field :titulo
.field
  = f.label :foto_picture, I18n.t('foto.foto_picture')
  = f.file_field :foto_picture

.field
  = f.label :publico, I18n.t('foto.publico')
  = f.check_box :publico

.field
  = f.label :categoria_id, I18n.t('foto.categoria_id')
  = f.collection_select :categoria_id, Categoria.all, :nombre, :nombre

.actions
  = f.submit I18n.t('save')
