%ul
  %li#btn-inicio
    = link_to_unless_controller('Inicio', root_path, 'home')
  %li#btn-portafolio
    = link_to_unless_controller('Portafolio', albumes_path, 'albumes')
    %ul
      %li.portafolio-submenu
        = link_to_unless_content_type('Matrimonio', fotos_path(:categoria_id => 'Matrimonio'), params[:categoria_id], 'Matrimonio')
      %li.portafolio-submenu
        = link_to_unless_content_type('Ni침os', fotos_path(:categoria_id => 'Ni침os'), params[:categoria_id], 'Ni침os')
      %li.portafolio-submenu
        = link_to_unless_content_type('Moda', fotos_path(:categoria_id => 'Moda'), params[:categoria_id], 'Moda')

  %li#btn-bio
    = link_to_unless_controller('Bio', bios_path, 'bios')
  %li#btn-videos
    = link_to_unless_controller('Videos', videos_path, 'videos')
  %li#btn-descarga
    = link_to_unless_controller('Acceso Clientes', new_cliente_session_path, 'download')
  - if current_admin
    %li
      = link_to_unless_controller('Fondos', fondo_secciones_path, 'fondo_secciones')
    %li
      = link_to_unless_controller('Admin cerrar sesi칩n', destroy_admin_session_path, 'nil')
