%ul
  %li#btn-inicio
    = link_to_unless_controller('Inicio', root_path, 'home')
  %li#btn-portafolio
    = link_to_unless_controller('Portafolio', albumes_path, 'albumes')
    %ul
      %li.portafolio-submenu 
        = link_to_unless_content_type('Matrimonio', fotos_path(:categoria_id => 'Matrimonio'), params[:categoria_id], 'Matrimonio')
      %li.portafolio-submenu 
        = link_to_unless_content_type('Niños', fotos_path(:categoria_id => 'Niños'), params[:categoria_id], 'Niños')
      %li.portafolio-submenu 
        = link_to_unless_content_type('Moda', fotos_path(:categoria_id => 'Moda'), params[:categoria_id], 'Moda')

  %li#btn-bio
    = link_to_unless_controller('Bio', bios_path, 'bios')
  %li#btn-descarga
    = link_to_unless_controller('Descarga tus fotos', root_path, 'download')

  %li#btn-videos
    = link_to_unless_controller('Videos', videos_path, 'videos')


